<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.manager.mapper.AdminMapper">
    <insert id="adduser">
        insert into user(id,username,password,role) values (#{id},#{username},#{password},#{role})
    </insert>
    <insert id="addcat">
        insert into cat(id,colorid,password,role) values (#{id},#{username},#{password},#{role})
    </insert>
    <insert id="addcheck">
        insert into check values ()
    </insert>
    <insert id="addFeedInfo">

    </insert>

    <select id="getuser" resultType="com.demo.manager.dto.User">

    </select>
    <select id="getrole" resultType="com.demo.manager.dto.Role">

    </select>
    <select id="listallcat" resultType="com.demo.manager.dto.Cat">

    </select>
</mapper>